@using Microsoft.AspNetCore.Mvc.Localization
@inject LaboratoryProject.Resources.LocService SL

@model LaboratoryProject.Models.Request

@{
    ViewData["Title"] = "Details";
}
<div>
    <h5 class="rounded text-center text-white p-2 bg-info">@SL.Loc("Student Details")</h5>
</div>


<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--first row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="NationalOrResidenceId" class="control-label">@SL.Loc("NationalOrResidenceId")</label>
                <input asp-for="NationalOrResidenceId" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="UniversityNumber" class="control-label">@SL.Loc("UniversityNumber")</label>
                <input asp-for="UniversityNumber" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="StudentsStatus" class="control-label">@SL.Loc("StudentsStatus")</label>
                <option class="form-control" readonly>@Html.DisplayFor(model => model.StudentsStatus)</option>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="College" class="control-label">@SL.Loc("College")</label>
                <option class="form-control" readonly>@Html.DisplayFor(model => model.College)</option>
            </div>
        </div>
    </div>

    <!--second row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="FirstNameEnglish" class="control-label">@SL.Loc("FirstNameEnglish")</label>
                <input asp-for="FirstNameEnglish" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FatherNameEnglish" class="control-label">@SL.Loc("FatherNameEnglish")</label>
                <input asp-for="FatherNameEnglish" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GrandFatherNameEnglish" class="control-label">@SL.Loc("GrandFatherNameEnglish")</label>
                <input asp-for="GrandFatherNameEnglish" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FamilyNameEnglish" class="control-label">@SL.Loc("FamilyNameEnglish")</label>
                <input asp-for="FamilyNameEnglish" class="form-control" readonly />
            </div>
        </div>
    </div>
    <!--3ed row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="FirstNameArabic" class="control-label">@SL.Loc("FirstNameArabic")</label>
                <input asp-for="FirstNameArabic" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FatherNameArabic" class="control-label">@SL.Loc("FatherNameArabic")</label>
                <input asp-for="FatherNameArabic" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GrandFatherNameArabic" class="control-label">@SL.Loc("GrandFatherNameArabic")</label>
                <input asp-for="GrandFatherNameArabic" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="FamilyNameArabic" class="control-label">@SL.Loc("FamilyNameArabic")</label>
                <input asp-for="FamilyNameArabic" class="form-control" readonly />
            </div>
        </div>
    </div>
    <!--4th row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Email" class="control-label">@SL.Loc("Email")</label>
                <input asp-for="Email" type="email" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label">@SL.Loc("PhoneNo")</label>
                <input asp-for="PhoneNo" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">@SL.Loc("BirthDate")</label>
                <input asp-for="BirthDate" type="date" class="form-control" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="MedicalFileNo" class="control-label">@SL.Loc("MedicalFileNo")</label>
                <input asp-for="MedicalFileNo" class="form-control" readonly />
            </div>
        </div>
    </div>
    <!--5th row-->
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="NationalOrResidenceIdFile" class="control-label">@SL.Loc("NationalOrResidenceIdFile")</label>
                <img src="~/UploadedFiles/@Model.NationalOrResidenceIdFile" width="400" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="CopyOfStudentId" class="control-label">@SL.Loc("CopyOfStudentId")</label>
                <img src="~/UploadedFiles/@Model.CopyOfStudentId" width="400" />
            </div>
        </div>
        <li class="text-danger fw-bold" data-i18n="textQUStudentFile">
            @SL.Loc("In case the student id is not available, please attach a copy of Qassim University student file")
        </li>
    </div>
    <hr />
    <!--6th row-->
    <div class="row">
        <h5 class="text-info" data-i18n="tesxtSelectDate">
            @SL.Loc("Kindly select a suitable date and time for the needed tests.")
        </h5>
        <div class="col-3">
            <div class="form-group">
                <option class="form-control" readonly> @Html.DisplayFor(model => model.TestDate)</option>
            </div>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input mx-1" type="checkbox" name="confirmation" checked>
                @SL.Loc("I declare that the above-mentioned data is accurate and filled out by me personally")
            </label>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>


