@model IEnumerable<LaboratoryProject.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-2">
           <a class="btn btn-info text-white m-3">System Config</a>
    </div>
</div>
<div>
    <h5 class="rounded text-center text-white p-2 bg-info">Students and Screening Application Form</h5>
</div>

<form method="get" asp-action="index">
<div class="row">
        <div class="col-2">
            <div class="form-group">
                <select name="searchSelect" class="form-select">
                    <option></option>
                    <option>College</option>
                    <option>Status</option>
                </select>
            </div>
        </div>
    <form asp-action="index">
        <div class="col-2">
            <input name="searchLabel" class="form-control" type="text" />
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-info text-white" value="search" />
        </div>
    </form>
        <div class="col-1">
            <a asp-action="ExportInExcel" class="btn btn-info text-white">Extract</a>
        </div>
        <div class="col-3 text-danger">
            <p>Extract all or as per search results</p>
        </div>
</div>
</form>
<table class="table m-5">
    <thead>
        <tr>
            <td>
                Request No
            </td>
            <th>
                Student Name
            </th>
            <th>
                National/Residence Id
            </th>
            <th>
                University No
            </th>
            <th>
                Student Status
            </th>
            <th>
                College
            </th>
            <th>
                Request Submission Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstNameEnglish)
                    @Html.DisplayFor(modelItem => item.FatherNameEnglish)
                    @Html.DisplayFor(modelItem => item.GrandFatherNameEnglish)
                    @Html.DisplayFor(modelItem => item.FamilyNameEnglish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalOrResidenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentsStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.College)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestDate)
                </td>
                <td>
                    <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

